@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Source+Sans+Pro');
html{
    height: 100%;
}
body{
    margin: 0;
    padding:0;
    border: 0;
    width: 100%;
    height: 100%;
    font-family: 'Baloo Bhaina', cursive;
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(119, 178, 225);
}
/*Header Start*/
header{

}
.title{
    float: left;
    margin: 24px 15px 20px 100px;

}
.logo{
    display: inline;
}
.slogan{
    font-family: 'Baloo Bhaina', cursive;
    display: inline;
    font-weight: bold;
    font-size: x-large;
}
.search-area{
    float: right;
    width: 27%;
}
.s-box{
    width: 80%;
    margin-top: 22px;
}
/*Header End*/

/*Navigation Start*/
nav{
    clear: both;
}
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #77b2e1;
}

nav > ul li {
    float: left;
}
nav > ul li:first-child{
    margin-left: 20px;
}
nav > ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav > ul li a:hover, .dropdown:hover .dropbtn ,.active{
    background-color: green;
    color: white;
}

nav > ul li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    word-spacing: 2px;
}

.dropdown-content a:hover,.drop-active {
    background-color: #f1f1f1;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*Navigation End*/

/*Contener Configurations Start*/
.contener{
    width: 95%;
    margin: auto;
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/

    min-height: 64%;
}
.content{
    width:100%;
}
.left{
    float: left;
    width:60%;
    display: block;
}
.right{
    float: right;
    width:38%;
    display: block;
}
.center{
    margin: auto;
    width:90%;
    display: block;
}
/*Contener Configurations End*/

/*Panel Making Start*/
.panel{
    margin: 30px 0px 0px 0px;
    width: 100%;
    border: 0;
    border-color: grey;
    border-style: solid;
    border-bottom-width: 21px;
}
.p-title{
    border-top: 5px solid gray;
    border-radius: 6px 6px 0px 0px;
    padding: 11px 0px;
    background: rgba(128, 128, 128, 0.42);
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.p-content{
    padding: 13px 0px;

}
.bottom-buttons{
    overflow: auto;
    border-top: 2px dotted grey;
    margin-top: 48px;
}
.right-btn{
    width: 200px;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}
.left-btn{
    margin-top: 30px;
    float: left;
}
/*Panel Making End*/


/*Form Panel Start*/
.form{
    margin: 30px 0px 0px 0px;
    background: #fafaff;
    padding-bottom: 20px;
}
.f-title{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 25px;
    padding-top: 25px;
}
.form-content{

}
/*Form Panel End*/


/*Form Inputs Start*/
input,textarea,select{
    margin-top: 5px;
    padding: 12px 9px;
    background: #efebe6;
    margin-bottom: 5px;
    border: 0;
    width: 96%;
    box-sizing:content-box;
    -moz-box-sizing:content-box;
}
input[type="submit"]{
    background: #f7dc5b !important;
    cursor: pointer;
}
/*Form Input End*/

table{
    width: 100%;
}
thead tr{
    border-bottom: darkgray solid 1px;
}
thead tr td{
    text-align: center;
    font-weight: bold;
}
tbody tr td {
    padding-left: 5px;
}
tbody tr:nth-child(even) {
    background-color: #eaeaea;
}
footer {
    /*position: relative;*/
    width: 100%;
    padding: 10px 0px;
    color: white;
    background-color: #929695;
    clear: both;
    text-align: center;
}